hr {
    height: 1px;
}
.status {
    background-color: #e0eaff;
    height: 100%;
}
.header {
    background-color: #D8E5FF;
}
.highlighted {
    color: red;
}
.left-form {
    float: left;
    width: 368px;
    background-color: #ebf1fb;
    color: #3d3f44;
    padding: 15px;
}
.right-form {
    float: left;
    width: 800px;
}
#visualize {
}
.hr {
    background-color: #CCCCCC;
    height: 1px;
    margin: 10px 0;
}
.hr2 {
    height: 5px;
}
.title {
    display: inline-block;
    width: 100px;
}
